
*.pyc
resources/es/wikistats/tokenCounts
resources/es/wikistats/uriCounts
resources/es/wikistats/sfAndTotalCounts
resources/es/wikistats/pairCounts
*.nt
resources/es/dashboard_data/valid_urls
resources/es/dashboard_data/invalid_urls
resources/en/wikistats/pairCounts
resources/en/wikistats/sfAndTotalCounts
resources/en/wikistats/tokenCounts
resources/en/wikistats/uriCounts
resources/en/dashboard_data/invalid_urls
resources/en/dashboard_data/valid_urls
resources/en/dashboard_data/instance_types_top50
resources/en/dashboard_data/sfAndTotalCounts
resources/en/dashboard_data/cleaned_pairCounts
resources/en/dashboard_data/tokens
resources/en/dashboard_data/uriCounts
resources/es/dashboard_data/cleaned_pairCounts
resources/es/dashboard_data/instance_types_top50
resources/es/dashboard_data/sfAndTotalCounts
resources/es/dashboard_data/uriCounts
*.drawio
ontology draft.png
resources/es/wikistats/2016/uriCounts_all
resources/es/wikistats/2016/tokenCounts
resources/es/wikistats/2016/sfAndTotalCounts
resources/es/wikistats/2016/pairCounts
resources/en/wikistats/2016/uriCounts_all
resources/en/wikistats/2016/tokenCounts
resources/en/wikistats/2016/sfAndTotalCounts
resources/en/wikistats/2016/pairCounts
